/* Para importar la tipografía */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Paleta de Colores */
:root {
  /* SCSS */
  --black: rgba(0, 8, 20, 1);
  --blue: rgba(0, 29, 61, 1);
  --blue-hell: rgb(1, 45, 91);
  --gold: rgba(255, 214, 10, 1);
  --gold-hell: rgb(255, 232, 118);
}

/* Reseteo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* Estilo para todas las páginas */

/* Estilo del body */
.body {
  font-family: Barlow, sans-serif;
  background-color: var(--black);
}

/* Header */
.header {
  width: 100vw;
  padding: 12px 0;
  justify-content: center;
  align-items: baseline;
  background-image: url("../images/header/juego-mesa-carcassonne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__img {
  width: 80px;
  margin: 0 20px;
}

.header__img__2 {
  width: 500px;

}

/* Nav */
.nav {
  background-color: var(--blue);
}

.nav a {
  color: var(--gold);
  font-size: 1.1rem;
  padding: 3px 50px;
  display: block;
  width: 200px;
  text-align: center;

}

.nav ul {
  list-style: none;
  /*Quitamos el estilo a las listas*/
}

/*El color cambia al pasar el mouse encima*/
.nav a:hover {
  color: var(--gold);
  font-weight: 700;
}



/* Footer */
.body__footer {
  background-color: var(--blue);
}

.body__footer a {
  text-decoration: none;
  color: var(--gold-hell);
}
.body__footer a:hover{
  color: var(--gold);
}

.footer__text {
  font-size: 0.8rem;
}

.footer__copyright {
  background-color: var(--blue-hell);
  color: var(--gold-hell);
}

/*___________________________________________________*/

/* Estilo para la página principal (index) */

/* Edición 20 Aniversario */
.ed__aniversario a{
  text-decoration: none;
}
/*img*/
.ed__aniversario__img {
  width: 500px;
}

.ed__aniversario__img:hover{
  opacity: 0.8;
}
.container__ed__aniversario__h2 {
  color: var(--gold);
  font-weight: 700;
  font-size: 4rem;
}

/*Article Historia*/

.main__historia h3 {
  color: var(--gold);
  font-weight: 700;
  font-size: 4rem;
}

.main__historia p {
  font-size: 1.25rem;
  color: var(--gold-hell);
}

/*___________________________________________________________________*/
/*Expansiones*/


/*__________________________________________________________________*/

/*Reglas*/

main img {
  /*Provisional*/
  width: 150px;
  height: auto;
}


/*__________________________________________________________*/

/*Acerca de*/

main {
  color: var(--yellow);
}

/*__________________________________________________________________________________*/
/*Shop*/
.section__shop {
  width: 100vw;
  position: relative;
  justify-content: center;
}

.shop__iframe__mla iframe {
  width: 80vw;
  height: 1000px;
}