/* Para importar la tipografía */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Paleta de Colores */
:root {
  /* SCSS */
  --black: rgb(0, 8, 20);
  --blue: rgb(0, 29, 61);
  --blue-hell: rgb(1, 45, 91);
  --gold: rgb(255, 214, 10);
  --gold-hell: rgb(255, 232, 118);
}

/* Reseteo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* Estilo para todas las páginas */

/* Estilo del body */
.body {
  font-family: Barlow, sans-serif;
  background-color: var(--black);
  width: 100vw;
  overflow-x: hidden;
}

/* Header */
.header {
  width: 100vw;
  padding: 12px 0;
  justify-content: center;
  align-items: baseline;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header/juego-mesa-carcassonne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__img {
  width: 80px;
  margin: 0 20px;
}

/* Animación para que el logo de vuelta */
.header__div__img:hover {
  animation: rotacion 2.5s 1 linear;
}

@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Animación para que el logo de vuelta */


.header__img__2 {
  width: 500px;

}

/* Nav */
.nav {
  background-color: var(--blue);
}

.nav__boton {
  color: var(--gold);
}

.nav a {
  color: var(--gold);
  font-size: 1.1rem;
  padding: 3px 50px;
  display: block;
  width: 300px;
  text-align: center;
}

.nav a:visited {
  color: var(--gold);
}

.nav ul {
  list-style: none;
  /*Quitamos el estilo a las listas*/
}

/*El color cambia al pasar el mouse encima*/
.nav a:hover {
  color: var(--gold);
  font-weight: 600;
}

/* Footer */
.body__footer {
  background-color: var(--blue);
}

.body__footer a {
  text-decoration: none;
  color: var(--gold-hell);
  font-size: 1rem;
}

.body__footer a:hover {
  color: var(--gold);
}


.footer__copyright {
  background-color: var(--blue-hell);
  color: var(--gold-hell);
}

/*___________________________________________________*/

/* Estilo para la página principal (index) */

/* Edición 20 Aniversario */
.ed__aniversario a {
  text-decoration: none;
}

/*img*/
.ed__aniversario__img {
  width: 500px;
}

.img__oscuro:hover {
  opacity: 0.8;
}

.img__claro {
  opacity: 0.7;
}

.img__claro:hover {
  opacity: 1.0;
}

.container__ed__aniversario__h2 {
  color: var(--gold);
  font-weight: 700;
  font-size: 4rem;
}


/*Article Historia*/

.main__historia h3 {
  color: var(--gold);
  font-weight: 700;
  font-size: 4rem;
}

.main__historia p {
  font-size: 1.25rem;
  color: var(--gold-hell);
}


/*___________________________________________________________________*/
/*Expansiones y Reglas */
.estilo__img img {
  width: 280px;
  height: auto;
}

.estilo__h {
  color: var(--gold);
}

/* Expansiones */
.hover {
  background-color: var(--blue);
  border-radius: 20px;
  position: absolute;
  visibility: hidden;
  opacity: 0.5;
}

.hover h5 {
  font-weight: 700;
}

.hover p {
  color: var(--gold-hell);
  font-weight: 700;
}

.expansiones__main article {
  background-color: var(--blue);
  border-radius: 20px;
}

/*Todavía no funciona */
/*.exp__1 img:hover  .hover__1{
  visibility: visible;
  top: 100px;
}*/


/*__________________________________________________________________*/

/*Reglas*/

/* Tamaño imágenes*/

.reglas__main__juego_base img {
  width: 300px;
  height: auto;
}

#nueva__edicion {
  width: 350px;
  height: auto;
}

#circo {
  width: 380px;
  height: auto;
}

.reglas__main article {
  background-color: var(--blue);
  border-radius: 20px;
}

.reglas__main a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reglas__main h3 {
  font-size: 1.5rem;
}

#star_wars {
  width: 260px;
  height: auto;
}

/*__________________________________________________________*/

/*Acerca de*/
.acerca_de__body {
  background-color: var(--black);
}

.acerca_de__main {
  color: var(--gold-hell);

}

.acerca_de__main h2 {
  font-size: 3rem;
  color: var(--gold);
  font-weight: 700;
}

.acerca_de__main section {
  background-color: var(--black);
}

.acerca_de__main article {
  background-color: var(--blue);
}

/*__________________________________________________________________________________*/
/* Contacto */
.contacto__main {
  display: flex;
  justify-content: center;
}

.contacto__main h2 {
  color: var(--gold);
  font-weight: 700;
  display: block;
  text-align: center;
}

.contacto__main__section {
  background-color: var(--blue);
  padding: 20px;
  border-radius: 10px;
}

.contacto__main__enviar button {
  width: 200px;
  padding: 10px 5px;
  margin-top: 50px;
  background-color: var(--gold-hell);
  color: var(--blue);
  font-weight: 700;
  border-radius: 10px;

}

/* _____________________________________________________________*/

/* Media Queries */

/* Mobil */

@media (max-width: 767px) {

  /* Header */
  .header__img__2 {
    position: absolute;
    visibility: hidden;
  }

  .header__div__img {
    display: flex;
    justify-content: center;
  }

  /* Index */
  /*Ed. 20 Aniversario */
  .ed__aniversario__div {
    display: flex;
    flex-direction: column-reverse;
  }

  .ed__aniversario__div h2 {
    font-size: 3rem;
    text-align: center;
  }

  /* Historia*/
  .main__historia h3 {
    font-size: 3rem;
  }

  /* Index */

  /* Reglas */
.reglas__ocultar{
  position: absolute;
  visibility: hidden;
}

  /* Reglas */



  /* Mobil */

  /* Tablet */
  /*
  @media (min-width: 768px) and (max-width:1023px) {

    /Ed. 20 Aniversario/
    .ed__aniversario__div {
      display: flex;
      flex-direction: column-reverse;
    }
  }*/

  /* Tablet*/


  /* Escritorio */
  @media (min-width: 1024px) {}