/* Footer */
.body__footer {
  background-color: $blue;

  a {
    @include a-no;
    color: $gold-hell;
    font-size: 1rem;

    &:hover {
      color: $gold;
    }
  }

  .footer__copyright {
    background-color: $blue-hell;
    color: $gold-hell;
  }
}