/* Header */
.header {
  width: 100vw;
  padding: 12px 0;
  justify-content: center;
  align-items: baseline;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header/juego-mesa-carcassonne.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .header__div__img {
    .header__img {
      width: 80px;
      margin: 0 20px;
    }

    &:hover {
      animation: rotacion 2.5s 1 linear;
    }
  }

  .header__img__2 {
    width: 500px;
  }

}



/* Animación para que el logo de vuelta */
@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Animación para que el logo de vuelta */