/* Media Queries */

/* Mobil */

@media (max-width: 767px) {

  /* Header */
  .header {
    .header__div__img {
      justify-content: center;
    }

    .header__img__2 {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 50px;
    }
  }


  /* Index */
  /*Ed. 20 Aniversario */
  .main_index {
    .main_index_sect_ed_20 {

      flex-direction: column-reverse;
    }
  }
  /* Index */

  /* Reglas */
  .reglas__ocultar {
    position: absolute;
    visibility: hidden;
  }

  /* Reglas */
}

/* Tablet */

@media (min-width: 768px) and (max-width:1023px) {

  /*Ed. 20 Aniversario*/
  .main_index_sect_ed_20 {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Reglas */
  .reglas__ocultar {
    position: absolute;
    visibility: hidden;
  }
  /* Tablet*/


  /* Escritorio */
  @media (min-width: 1024px) {
    .body {
      width: 100vw;
    }

    .img__oscuro:hover {
      opacity: 0.8;
    }

    .img__claro {
      opacity: 0.7;

      &:hover {
        opacity: 1.0;

      }
    }
  }
}