/* Media Queries */

/* Mobil */

@media (max-width: 767px) {

  /* Header */
  .header__img__2 {
    position: absolute;
    visibility: hidden;
  }

  .header__div__img {
    display: flex;
    justify-content: center;
  }

  main {
    padding: 0 10%;
  }

  /* Index */
  /*Ed. 20 Aniversario */
  .main_index_sect_ed_20 {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_index_sect_ed_20 h2 {
    font-size: 3rem;
    text-align: center;
  }

  /* Historia*/
  .main__historia h3 {
    font-size: 3rem;
  }

  /* Index */

  /* Reglas */
  .reglas__ocultar {
    position: absolute;
    visibility: hidden;
  }

  /* Reglas */
}

/* Tablet */

@media (min-width: 768px) and (max-width:1023px) {

  /*Ed. 20 Aniversario*/
.main_index_sect_ed_20 {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_index_sect_ed_20 h2 {
    font-size: 3rem;
    text-align: center;
  }

/* Tablet*/


/* Escritorio */
@media (min-width: 1024px) {
  .body {
    width: 100vw;
    overflow-x: hidden;
  }

  .img__oscuro:hover {
    opacity: 0.8;
  }

  .img__claro {
    opacity: 0.7;
  }

  .img__claro:hover {
    opacity: 1.0;
  }
}
}