/* Nav */
.nav {
  background-color: $blue;

  .nav__boton {
    color: $gold;
  }

  ul {
    list-style: none;
    /*Quitamos el estilo a las listas*/
  }

  a {
    color: $gold;
    font-size: 1.1rem;
    padding: 3px 50px;
    display: block;
    width: 1fr;
    text-align: center;

    &:visited {
      color: $gold;
    }

    &:hover {
      /*El color cambia al pasar el mouse encima*/
      color: $gold;
      border-bottom: 1px solid $gold;
    }
  }
}