.main_index {
  a {
    @include a-no;
  }

  strong {
    font-size: 3rem;
  }

  img {
    width: 55%;
    height: auto;
  }

  .main_index_sect_gold {
    @include bg-gold;
  }

  .main_index_sect_ed_20 {
    background-color: $blue;
    color: $gold;

  }

}