/* Tamaño imágenes*/

.reglas__main__juego_base img {
  width: 300px;
  height: auto;
}

#nueva__edicion {
  width: 350px;
  height: auto;
}

#circo {
  width: 380px;
  height: auto;
}

.reglas__main article {
  background-color: $blue;
  border-radius: 20px;
}

.reglas__main a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reglas__main h3 {
  font-size: 1.5rem;
}

#star_wars {
  width: 260px;
  height: auto;
}