figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

figure.effect-zoe h2 {
  float: left;
}

figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31;
}

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  transition: opacity 0.35s;

}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  transition: transform 0.35s;
  transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
}

.icon-eye::before {
  content: '\e000';
}

.icon-paper-clip::before {
  content: '\e001';
}

.icon-heart::before {
  content: '\e024';
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe:hover p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h2 {
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  transition-delay: 0.2s;
}


















/* Expansiones */
.hover {
  background-color: $blue;
  border-radius: 20px;
  position: absolute;
  visibility: hidden;
  opacity: 0.5;
}

.hover h5 {
  font-weight: 700;
}

.hover p {
  color: $gold-hell;
  font-weight: 700;
}

.expansiones__main article {
  background-color: $blue;
  border-radius: 20px;
}